<div class="container">
  <h1>Sign Up</h1>

  <%= render 'form' %>

  <div class="row">
    <div class="col s12">
      <%= link_to 'Already has account ? Login Here !', '/login' %>
    </div>
  </div>


</div>
