<h1 class="center">right.now.</h1>

<div class="row">
  <iframe class="col s12"
          width="560" height="315"
          src="https://www.youtube.com/embed/6HVLY6FPvtk"
          frameborder="0" allowfullscreen>
  </iframe>
</div>
