<h1>ThrownWaste#index</h1>

<% if @user == current_user %>
  <%= render 'new_carousel' %>
<% end %>

<ul id="thrownwastes">
  <%= render @user.thrown_wastes.order(created_at: :desc) %>
</ul>

<%= link_to 'Back', root_path %>
